*{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    text-align: center;
}

header nav ul{
    margin-top: 60px;
}

header nav ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
}

header nav ul a{
    padding: 10px 15px;
    transition: .3s;
    border-radius: 4px;
    font-weight: bold;
}

header nav ul a:hover{
    color: white;
    background-color: red;
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

img{
    width: 100%;
    height: 100%;
    border-radius: 5px;
}

.img-clientes, .img-plano{
    width: 200px;
    height: 200px;
}

.area-clientes{
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.plano{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 50px 0px;
}

.negrito{
    font-weight: bold;
}

.red{
    font-size: 1.5rem;
    color: red;
}

h2{
    font-size: 2rem;
}

ul{
    list-style: none;
}

fieldset{
    display: grid;
}

input{
    max-width: 400px;
    margin: 10px 0px;
}

button{
    margin: 10px 5px;
}

.return{
    display: block;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 4px;
    width: 150px;
    text-align: center;
    margin: 20px auto;
    padding: 10px 0px;
}

main, aside{         
    padding: 30px;
   
}

.contrato{
    font-size: 1.5rem;
    display: block;
    margin: 30px 0px;
}

article{
    border-top: 1px solid black;
    margin: 30px 0px;
    padding: 20px 0px;
}

section{
    max-width: 1000px;
    margin: auto;
}

.plano li{
    margin: 10px 0px;
}

footer{
    text-align: center;
    border-top: 1px solid black;
}